.search-home{
    position: fixed;
    width: 50%;
    display: flex;
    justify-content: center;
    background: #ffffff;
    left: 24%;
    border-radius: 50px;
    margin-top: 10%;
}

.search-input{
    font-size: 30px;
    padding: 20px;
    padding-left: 30px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow:4px 4px 15px rgb(0, 0, 0);
}