.search-home{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    background: #ffffff;
    left: 17%;
    margin-top: 20%;
}

.search-input{
    font-size: 30px;
    padding: 20px;
}

.search-input-box{
    width: 200px;
    height: 50px;
    margin: 20px;
    border: 1px solid #736e6e;
    border-radius: 5px;
    box-shadow:4px 4px 15px rgb(64, 62, 62);
}